* {
  padding:0;
  margin:0;
  font-family:Trebuchet MS;
}

.clear {
  clear:both;
}

a {
  text-decoration:none;
  color:#4D4D4D;
}

a:hover {
  text-decoration:underline;
}

li {
  list-style:none;
}

p {
color:#4D4D4D;
font-size:12px;
}

h2, h1 {
  color:#4D4D4D;
}

input[type=text] {
color:#585858;
}

label {
color:#585858;
}

fieldset.collapsible legend a {
color:#000000;
display:block;
}

textarea {
color:#585858;
font-size:12px;
line-height:20px;
}

#container {
margin:0 auto;
position:relative;
width:765px;
}

#header {
margin-top:10px;
float:left;
height:92px;
position:relative;
width:100%;
}

.site-title {
float:right;
font-size:27px;
margin-right:50px;
margin-top:12px;
}

#logo a:hover {
  text-decoration:none;
}

#logo {
display:block;
float:left;
margin-top:10px;
width:240px;
}

/* Search
-----------------*/
#search {
margin-left:-22px;
float:left;
margin-top:19px;
width:270px;
}

#search label {
  display:none;
}

#search input[type=text] {
border:1px solid #585858;
margin-left:48px;
margin-right:0px;
padding:3px;
width:145px;
}

#search input[type=submit] {
width:60px;
background:#015B77;
border:1px solid #FFFFFF;
color:#FFFFFF;
height:26px;
cursor:pointer;
}


/* Secondary Navigation
-----------------*/
#secondary-nav {
clear:right;
float:left;
margin-top:40px;
}

#secondary-nav ul li {
display:inline;
}

#secondary-nav a {
color:#808080;
font-size:10px;
margin-right:20px;
font-family:serif;
text-transform:uppercase;
}

/* Top
-------------------*/
#top {
float:left;
height:215px;
clear:both;
width:100%;
}

/* Primary Navigation
-------------------*/
#primary-nav {
background:#F2F2F2 none repeat scroll 0 0;
float:left;
padding:30px 63px 46px 4px;
width:171px;
min-height:140px;
}

#primary-nav li {
width:217px;
background:#E6E6FA;
height:25px;
list-style-image:url(images/list-style.jpg);
list-style-position:inside;
list-style-type:disc;
margin-bottom:3px;
display:block;
}

#primary-nav a {
color:#585858;
font-family:Trebuchet MS;
line-height:25px;
text-transform:uppercase;
}

#primary-nav ul li ul li {
margin-left:226px;
margin-top:-30px;
position:absolute;
display:none;
}


#primary-nav ul li.expanded:hover ul li {
  display:block;
}


#slider {
background:red none repeat scroll 0 0;
clear:right;
display:block;
float:right;
height:216px;
}

#content-area {
background:#FFFFFF none repeat scroll 0 0;
border-bottom:1px solid #DCDCDC;
display:block;
float:right;
margin-bottom:10px;
padding-bottom:15px;
position:relative;
width:68%;
}

#left {
border-right:1px dotted #DCDCDC;
float:left;
padding:10px;
width:48%;
}

#right {
clear:right;
float:left;
padding:10px;
width:44%;
}

#leftside-bar {
background:#F2F2F2 none repeat scroll 0 0;
float:left;
min-height:300px;
padding:10px;
width:220px;
}

#leftside-bar a {
color:#585858;
font-size:13px;
}

#content {
float:left;
margin-top:10px;
min-height:216px;
width:100%;
padding:10px;
font-size:13px;
}

#content h2 {
  font-size:20px;
  color:#4D4D4D;
}

#left h2 , #right h2 {
color:#4D4D4D;
font-family:helvetica;
font-size:16px;
text-transform:uppercase;
}

#footer {
clear:both;
color:#4D4D4D;
float:right;
font-size:13px;
margin-top:5px;
width:68%;
}

#footer li {
display:inline;
font-size:12px;
}

#footer a {
color:#4D4D4D;
}


.tabs li {
display:inline;
}
